.job {
    background: var(--general-bg);
}

.main__job {
    padding: 100px 0 85px;
}

.job__inner {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.job__slider.swiper {
    overflow: visible;
    position: relative;
}

.job__slide.swiper-slide {
    transition: opacity var(--transition);
    opacity: .3;
}

.swiper-slide.job__slide.swiper-slide-active, 
.swiper-slide.job__slide.swiper-slide-next,
.swiper-slide.job__slide.swiper-slide-next + .swiper-slide.job__slide {
    opacity: 1;
}

.job__slider-nav {
    position: absolute;
    display: flex;
    max-width: 1160px;
    width: 90vw;
    justify-content: space-between;
    top: 21.5%;
    left: 20px;
    z-index: 10;
}

.job__top {
    display: flex;
    width: 100%;
    gap: 30px;
    max-width: 1200px;
    justify-content: space-between;
}

.job__title {
    font-size: 54px;
    text-transform: uppercase;
}

.job__slide-img {
    max-width: 387px;
    border-radius: 20px;
    border: 2px solid #49B9E8;
    overflow: hidden;
}

.job__slide-img > :first-child {
    width: 100%;
    filter: brightness(50%)
}

.job__slide-img-wrapper {
    position: relative;
    max-width: 387px;
    margin-bottom: 30px;
}

.job__slide-img-wrapper::after {
    content: '';
    position: absolute;
    transform: translateY(50%);
    width: 41px;
    height: 10px;
    background: #03e1ffa8;
    filter: blur(5.5px);
    bottom: 0;
    left: 42px;
}

.job__slide-heading {
    max-width: 387px;
}

.job__slide-title {
    font-weight: 750;
    line-height: 21px; /* 131.25% */
    padding-bottom: 18px;
}

.job__slide-desc {
    font-size: 15px;
    line-height: 21px; /* 140% */
    padding-bottom: 9px;
    background: linear-gradient(180deg, #FFF 65.96%, rgba(105, 104, 104, 0.00) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    max-height: 66px;
    overflow: hidden;
}

.job__slide-desc span {
    white-space: nowrap;
    display: block;
    max-width: 100%;
}

.job__slider-prev.swiper-button-disabled,
.job__slider-next.swiper-button-disabled{
    background: #08262B;
}

.job__slider-prev {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 62px;
    height: 62px;
    background: #03E1FFA8;
    transform: rotate(180deg);
    cursor: pointer;
    transition: background var(--transition);
    user-select: none;
}

.job__slider-next {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 62px;
    height: 62px;
    background: #03E1FFA8;
    cursor: pointer;
    transition: background var(--transition);
    user-select: none;
}

.job__slide-link {
    color: var(--accent-text);
    font-size: 12px;
    line-height: 21px; /* 175% */
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}

.job__button {
    width: 213px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 9px;
    border: 1px solid #00E0FF;
    box-shadow: 0px 7px 20px -7px #00E0FF;
    background: transparent;
    color: var(--accent-text);
    text-align: center;
    font-size: 12px;
    font-weight: 750;
    letter-spacing: 3px;
    text-transform: uppercase;
    transition: var(--transition);
}

@media (hover: hover) {
    .job__button:hover {
        transform: translateY(-3px);
    }
}

.job__mob-button {
    background: transparent;
    display: none;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 30px;
    flex-shrink: 0;
    border-radius: 9px;
    border: 1px solid #00E0FF;
    box-shadow: 0px 7px 20px -7px #00E0FF;
    color: var(--accent-text);
    text-align: center;
    font-size: 12px;
    font-weight: 750;
    letter-spacing: 3px;
    text-transform: uppercase;
    align-self: center;
}