:root {
    --general-text: #fff;
    --accent-text: #4ABCEC;
    --transition: .6s;
    --general-bg: linear-gradient(286deg, #022335 3.63%, #043A41 90.98%);
}

html {
    scroll-behavior: smooth;
}

body {
    color: var(--general-text);
    font-family: "Avenir Next Cyr";
    font-size: 16px;
    font-weight: 450;
    user-select: none;
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
    min-height: 1500px;
}

.container {
    max-width: 1230px; /* width + 30px */
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

.button {
    display: block;
    width: 479px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 9px;
    background: linear-gradient(180deg, rgba(3, 225, 255, 0.66) 0%, #13CDC2 100%);
    box-shadow: 0px 7px 20px -7px #00E0FF;
    text-align: center;
    font-size: 12px;
    font-weight: 750;
    letter-spacing: 3px;
    text-transform: uppercase;
    padding: 10px;
    transition: var(--transition);
}

@media (hover: hover) {
    .button:hover {
    transform: translateY(-3px);
    box-shadow: 0px 10px 25px -5px #00E0FF, 0 0 10px #00E0FF;
    background: linear-gradient(180deg, #13CDC2 0%, rgba(3, 225, 255, 0.9) 100%);
    }
}


.water-line {
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, rgba(74, 207, 236, 0.21) 0%, #32ABC3 53.12%, rgba(74, 197, 236, 0.23) 100%);
    box-shadow: 0px 3px 15px 0px rgba(0, 224, 255, 0.93), 0px 4px 15px 0px #4AD9EC, 0px 0px 24px 0px #00E0FF;
    filter: blur(1px);
}